<div class="modal-header" style="text-align:center;">
    <h3 class="modal-title">请选择目标头像</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-md-offset-1" style="text-align:center;">
            <input type="image" src="assets/images/head.png"  />
            <input type="text" class="form-control"  placeholder="姓名：">
            <input type="text" style="margin-top:5px" class="form-control"  placeholder="工号：">
            <input type="text" style="margin-top:5px" class="form-control"  placeholder="部门：">
            <input type="text" style="margin-top:5px" class="form-control"  placeholder="职位：">
        </div>
        <div class="col-md-3 col-md-offset-2" style="margin-top:130px">
            <button class="btn btn-default btn-xs btn-block">搜索</button>
            <button class="btn btn-default btn-xs btn-block">确定</button>
            <button class="btn btn-default btn-xs btn-block">重置</button>
        </div>
    </div>

    <div class="row" style="margin-top:50px;">
        <div  style="margin-top:25px" class="col-md-1 col-md-offset-1">
            <a ng-click="" ng-disabled="disablePrePage" class="btn btn-primary btn-xs"><i class="icon-angle-left"></i></a>
        </div>

        <div class="col-md-7" align="center" style="margin-left:-20px">
            <div ng-repeat="person in persons" style="display:inline-block;width:50px;height:100px;margin-left:10px">
                <input type="image" src="{{person.image}}"  />
                <a>{{person.name}}</a>
            </div>

        </div>

        <div style="margin-top:25px;padding-left:0;margin-left:10px" class="col-md-1">
            <a ng-click="nextPage()" class="btn btn-primary btn-xs"><i class="icon-angle-right"></i></a>
        </div>

    </div>



</div>
<!-- <div class="modal-footer">
    <button class="btn btn-primary" ng-click="test()">弹出</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div> -->